@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

body, html {
  font-family: 'Montserrat';
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  color: white;
  font-size: 300%;
  font-weight: bold;
  padding: 0.5em;
  background-color: #d73d35;
  z-index: 1;
}

.content {
  margin: auto;
  margin-top: 18vh;
  text-align: center;
}

.content-text {
  margin-bottom: 5%;
}

button {
	box-shadow: 0px 10px 14px -7px #530400;
	background-color:#d73d35;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: Montserrat;
	font-size:50%;
	font-weight:bold;
	padding:3% 6%;
	text-decoration:none;
	text-shadow:0px 1px 0px #530400;
  margin: 0em 1em;
}

button:hover {
	background-color:rgba(23, 23, 23, 0);
}

button:active {
	position:relative;
	top:1px;
}

button {
	box-shadow: 0px 10px 14px -7px #530400;
	background-color:#d73d35;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: Montserrat;
	font-size:100%;
  margin: 1em;
	font-weight:bold;
	padding:1em 2em;
	text-decoration:none;
	text-shadow:0px 1px 0px #530400;
}

button:hover {
	background-color:rgba(23, 23, 23, 0);
}

button:active {
	position:relative;
	top:1px;
}

.movie-container {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}

.movie-container li {
  margin: 0em 3em;
  margin-bottom: 3em;
}

li img {
  height: 40vh;
  width: auto;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  height: 40vh;
  aspect-ratio: 2/3;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);

}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: rgb(61, 61, 61);
  color: white;
  transform: rotateY(180deg);
  padding: 5%;
  overflow-y: scroll;
  scrollbar-width: 1px;
  height: 40vh;
  aspect-ratio: 2/3;
}

/* width */
::-webkit-scrollbar {
  border-radius: 5px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #555; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}